.home-button-style {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button-style {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
  .btn-primary-navbar {
    border-color: white;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary-navbar:hover {
    background-color: #AA1803;
    border-color: white;
  }
  
  .form-control {
    border-radius: 20px;
    padding: 10px 20px;
  }
  
  .navbar-container {
    padding: 10px;
  }
  
  .navbar-row {
    align-items: center;
  }
  
  .navbar-icon {
    margin-right: 5px;
  }