:root {
  --color-1: #AA1803;
  --color-2: #BD613C; 
  --color-3: #F1BAA1;
  --color-4: #BCAF4D;
  --color-5: #6D8C00;
}

body {
  background-color: var(--color-3);
}

.color-1 {
  color: #AA1803;
}

.color-2 {
    color: #BD613C;
  }

.color-3 {
    color: #F1BAA1;
  }

.color-4 {
    color: #BCAF4D;
}

.color-5 {
    color: #6D8C00;
}

.bg-color-1 {
    background-color: #AA1803;
  }
  
.bg-color-2 {
    background-color: #BD613C;
}

.bg-color-3 {
    background-color: #F1BAA1;
  }

.bg-color-4 {
    background-color: #BCAF4D;
}

.bg-color-5 {
    background-color: #6D8C00;
}


.btn-primary {
    border-color: white;   
    background-color: var(--color-1);
}

.btn-primary:hover {
    border-color: white;
    background-color: var(--color-5);   
}

ul {
  list-style-type: none;
}